.cartView {
  &_detail {
    display: flex;
    justify-content: center;
    color: black;
    width: 100%;

    //Items cantidad y precio
    &--descripcion {
      padding-left: 2%;
      width: 60%;
      display: flex;
      flex-direction: row;

      justify-content: space-between;
      height: 120px;
      color: black;
    }

    //Total a pagar y boton de compra
    &--total {
      display: flex;
      justify-content: center;
      h1 {
        width: 60%;
      }
    }
  }
}

p {
  margin: 0;
}

.noProductos {
  width: 40vw;
  display: block;
  text-align: center;
  position: absolute;
  top: 20%;
  right: 50%;
  transform: translate(50%, 50%);
  h1 {
    font-size: 4rem;
  }
}
