$sectionSize: 50%;
.itemDetailContainer {
  display: flex;

  background-color: rgba(231, 243, 236, 0.815);
  border-radius: 4px;
  border-width: 10px blue;

  color: white;
  .imagenPrincipal {
    padding: 7%;
    width: $sectionSize;
  }
  .idc {
    &__descripcion {
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__opciones {
      img {
        width: 100% - $sectionSize;
        height: 80px;
      }
    }
    h6 {
      color: black;
      text-align: start;
    }
  }
}
